<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmsl_FEH-Yb5ssnf7HuRT1HNg_e9l1_70</string>
	<key>GCM_SENDER_ID</key>
	<string>807202309380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EventHub1</string>
	<key>PROJECT_ID</key>
	<string>eventhub-48b96</string>
	<key>STORAGE_BUCKET</key>
	<string>eventhub-48b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807202309380:ios:0ec6e2d2ab1d790dc8bc51</string>
</dict>
</plist>